<!DOCTYPE html>
<html>

{% include "includes/head.html" %}

<body>
    
{% include "includes/navbar.html" %}

<main class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-10 col-lg-8 col-centered">
                <br>
                <h1>About</h1>
                <br>
            </div>
        </div>

        <br>

        <div class = "row justify-content-center">
            <div class="col-xs-12 col-md-10 col-lg-8 col-centered divider">
            </div>
        </div> 

        <br>

        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-10 col-lg-8 col-centered">
                <p>
                    Hi, 
                    <br>
                    <br>
                    My name is Grant, I'm from San Francisco. Over the past few years I happened to have access to a laser cutting machine,
                    and I figured out how to build computer enclosures from acrylic sheets.
                    <br><br>
                    With this project I wanted to see how small I could build a dekstop PC that could still
                    support my dedicated graphics card, and therefore serve as my main machine.

                    <br><br>
                    I won't claim that this enclosure is without compromise, it has plenty. 
                    It does however reflect my ideal balance of size, power, compatibility, maintainability, 
                    and aesthetics that I prefer in my desktop machine. If you agree with me
                    then I hope you enjoy building one for yourself.
                    <br><br>
                    Cheers!

                    </p>
            </div>
        </div>

    </div>

    
</main>

{% include "includes/footer.html" %}
</body>
</html>


<!--

Hi, my name is Grant
I have been messing around with computer hardware since I was a kid,
and I have been obsessed with small form factor PCs ever since I built a computer inside a Nintendo Entertainment System enclosure
over 10 years ago.



I love PC case layouts that defy the standard chasis conventions. 

The legacy conventions of PC hardware is such that most of the room in a chasis is wasted.

Most of the functionality of a computer now can be confined to the motherboard. Even large capacity SSDs can be installed 
onto a motherboard thanks to MSata and NVMe. This leaves PC gamers with the need for just one PCIe device: the GPU.





This project has gone through several iterations over the past few years, but I have always kept two goals in mind:
Make a PC case that is as small as possible while supporting dedicated graphics, and make it something that the user
would assemble at home with a hex key. Because as a grown man who still buys LEGO sets from time to time, I know that
joy comes from the journey, not the destination.
-->