<!DOCTYPE html>
<html>
    
{% include "includes/head.html" %}

<body>
    
{% include "includes/navbar.html" %}

<main class="container-fluid">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-10 col-lg-8 col-centered">
                <h1>Downloads</h1>
    
                </div>
        </div>
    </div>

    <br>

    <div class = "row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered divider">
        </div>
    </div> 

    <br>

    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered">            
            <a href="/static/KTSFF DXF Files.zip" download> 
                <p>DXF Files</p>
            </a>
 
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered">            
            <a href="/static/KTSFF DXF Files.zip" download> 
                <p>Part Specification Sheets</p>
            </a>
 
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered">            
            <a href="/static/KTSFF DXF Files.zip" download> 
                <p>Instructions.pdf</p>
            </a>
 
        </div>
    </div>

</div>
    

</main>

{% include "includes/footer.html" %}
</body>
</html>
