<!DOCTYPE html>
<html>
    
{% include "includes/head.html" %}

<body>
    
{% include "includes/navbar.html" %}

<main class="container-fluid">
    
    
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-10 col-lg-8 col-centered">
                <h1><br>Downloads</h1>    
                </div>
        </div>

    <br>

    <div class = "row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered">
            <img src="static/images/layoutinverted.png" min-height = "400px" width="100%"> </img>
        </div>

    </div>

    <div class = "row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered divider">
        </div>
    </div> 

    <br>

    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered">            
            <a href="/static/KTSFF DXF Files.zip" download> 
                <p>DXF Files</p>
            </a>
 
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered">            
            <a href="/static/KT SFF V1.pdf" download> 
                <p>Assembly Guide</p>
            </a>
 
        </div>
    </div>

</div>
    

</main>

{% include "includes/footer.html" %}
</body>
</html>


<!-- 

    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered">            
            <a href="/static/KTSFF DXF Files.zip" download> 
                <p>Part Specification Sheets</p>
            </a>
 
        </div>
    </div>

-->