<!DOCTYPE html>
<html>
    
{% include "includes/head.html" %}

<body>
    
{% include "includes/navbar.html" %}

<main class="container-fluid">

  <div class="container">



    <!-- Gallery -->
    <div class="row">     
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              src="static/images/photoshoot/3.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt=""
            />
            <img
            src="static/images/photoshoot/2.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
            />
            <img
            src="static/images/photoshoot/7.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
            />
          </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="static/images/photoshoot/6.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
      
          <img
            src="static/images/photoshoot/10.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
          src="static/images/photoshoot/8.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt=""
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="static/images/photoshoot/5.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
      
          <img
            src="static/images/photoshoot/11.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
          src="static/images/photoshoot/9.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt=""
          />
        </div>
      </div>
    </div>

  




</main>





{% include "includes/footer.html" %}
</body>
</html>




