<!DOCTYPE html>
<html>
    
{% include "includes/head.html" %}

<body >
    
{% include "includes/navbar.html" %}


<main class = "container-fluid">
<div class = container>

    <div class = "row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered">
            <br>
            <h1> Specifications </h1>
            <br>
        </div>
    </div>

    <br>

    <div class = "row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered divider">
        </div>
    </div> 
    
    <br>

    <div class = "row justify-content-center">        
        <div class="col-xs-4 col-md-3 col-centered">
            <b>Outer Dimensions</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <small>106 x 190 x 204 mm (L x W x H)</small>
            <br>
            <small>4.2 x 7.5 x 8 in</small>
        </div>
    </div>

    <div class = "row justify-content-center">        
        <div class="col-xs-4 col-md-3 col-centered">
            <b>Total Volume</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <small>4.1 Liters (approx.)</small>
        </div>
    </div>


    <!-- HARDWARE COMPATIBILITY -->

    <br>
    <div class = "row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered divider">
        </div>
    </div> 
    

    <div class = "row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered">
            <h4>Hardware Compatibility</h4>
        </div>
    </div>

    <br>

    <div class = "row justify-content-center">
        <div class="col-xs-4 col-md-3 col-centered">
            <b>Motherboard</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <small>Mini-ITX</small>
        </div>
    </div> 
    
    <br>

    <div class = "row justify-content-center">
        <div class="col-xs-4 col-md-3 col-centered">
            <b>Graphics Card</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <small>Dual slot, up to 180mm length</small>
        </div>
    </div> 

    <br>

    <div class = "row justify-content-center">
        <div class="col-xs-4 col-md-3 col-centered">
            <b>Storage</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <small>1 x 2.5" SSD</small>
        </div>
    </div>

    <br>

    <div class = "row justify-content-center">
        <div class="col-xs-4 col-md-3 col-centered">
            <b>Max CPU Cooler & RAM height</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <small>38mm</small>
        </div>
    </div> 

    <br>
      
    <div class = "row justify-content-center">
        <div class="col-xs-4 col-md-3 col-centered">
            <b>DC-ATX Power Supply</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <small>HD PLEX 200W DC-ATX</small>
            <br>
            <small>Mini-Box picoPSU-160-XT</small>
        </div>
    </div> 

    <br>

    <div class = "row justify-content-center">
        <div class="col-xs-4 col-md-3 col-centered">
            <b>DC Inlet</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <small>13mm cutout</small>
            <br>
            <small>HD PLEX Screw-Lock 7.4*5.0mm Female DC Jack</small>
            <br>
            <small>4-pin MiniFit Jr connector</small>
        </div>
    </div> 
        
    <br>

    <div class = "row justify-content-center">
        <div class="col-xs-4 col-md-3 col-centered">
            <b>Recommended AC/DC Power Bricks</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <div class = row>
                <div class = "col border-right">
                    <small>12V</small>
                    <br>
                    <small>Adapter Technology 192W ATS200T-P120</small>
                    <br>
                    <small>CUI 192W SDI200G-12-U</small>
                </div>
                <div class = "col">
                    <small>19.5V</small>
                    <br>
                    <small>Delta Electronics 330W ADP-330AB D</small>
                    <br>
                    <small>Dell 240W DA240PM180</small>
                </div>
            </div>

        </div>
    </div> 

    <br>

    <div class = "row justify-content-center">
        <div class="col-xs-4 col-md-3 col-centered">
            <b>Power Button Cutout</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <small>16mm Diameter</small>
        </div>
    </div> 

    <br>

<!-- Parts List -->    

    <h2><br></h2>
    <div class = "row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered divider">
        </div>
    </div>  

    <div class = "row justify-content-center">
        <div class="col-xs-12 col-md-10 col-lg-8 col-centered">
            <h4>Parts List</h4>
        </div>
    </div>

    <br>

    <div class = "row justify-content-center">
        <div class="col-xs-4 col-md-3 col-centered">
            <b>Screws</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <small>27x <a href = "https://www.mcmaster.com/97763A813/">
                M3 x 0.50 mm Thread, 8 mm Long</a></small>
            <br>
            <small>8x <a href="https://www.mcmaster.com/97763A811/">
                M3 x 0.50 mm Thread, 5 mm Long</a></small>
            <br>
            <small>12x <a href="https://www.mcmaster.com/97763A142/">
                #6-32 Thread Size, 3/8" Long</a></small>
            <br>
        </div>
    </div>
    
    <br>

    <div class = "row justify-content-center">
        <div class="col-xs-4 col-md-3 col-centered">
            <b>Threaded Hex Standoffs</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <small>2x <a href="https://www.mcmaster.com/91780A639/">
                Aluminum, 1/4" Hex, 1-1/8" Long, 6-32 Thread</a></small>
            <br>
            <small>4x <a href="https://www.mcmaster.com/91780A641/">
                Aluminum, 1/4" Hex, 1-5/8" Long, 6-32 Thread</a></small>
        </div>
    </div>
    
    <br>
    
    <div class = "row justify-content-center">
        <div class="col-xs-4 col-md-3 col-centered">
            <b>Mounting Blocks</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <small>9x <a href= "https://www.buerklin.com/en/Mounting-block/p/17H912">
                Universal-Gewindeblock 4 x M3, 05.60.733</a></small>
        </div>
    </div>

    <br>

    <div class = "row justify-content-center">
        <div class="col-xs-4 col-md-3 col-centered">
            <b>PCIe Riser Cable</b>
        </div>
        <div class="col-xs-8 col-md-7 col-lg-5 col-centered">
            <a href= "http://www.adt.link/product/R33_ITX.html">
            <small>ADT-LINK R33UF-TU PCIe 3.0 x16</small>
            </a>
        </div>
    </div> 
    
    

    </div>
    <h2><br><br></h2>
</main>

{% include "includes/footer.html" %}

</body>
</html>


<!--

SPECS

Outer Dimensions: 106 x 190 x 204 mm (LxWxH)
4.2 x 7.5 x 8 in


Hardware Compatibility:
Motherboard Mini-ITX
RAM and CPU cooler height 38mm
Graphics Card: dual slot, up to 180mm length
DC-ATX Power supply: HD PLEX 200W DC-ATX, picoPSU-160-XT or similar.
DC inlet: HD PLEX Screw-Lock 7.4*5.0mm Female DC Jack 
4-pin MiniFit Jr connector\

Recomended AC/DC Power Bricks:
12V: Adapter Technology 192W ATS200T-P120
    CUI 192W SDI200G-12-U
19.5V: Delta Electronics 330W ADP-330AB D
Dell 240W DA240PM180

Power Button: 16mm cutout

Storage
1 x 2.5" SSD/HDD

PCIe Riser ADT-LINK R33UF-TU PCIe 3.0 x16

9x M3 Mounting Block
8x 5mm M3 screws
27x 8mm M3 screws
12x #6/32 screws

4x #6/32 1-5/8" Hex Standoff

2x #6/32 1-1/8" Hex Standoff

Acrylic Sheets
4.5mm (0.177") Top, Bottom, Sides, and Support Panels
3mm (0.118") Front and Back Panels




MATERIALS
PARTS LIST
RISER


-->












