<!DOCTYPE html>
<html>
    
{% include "includes/head.html" %}

<body >
    
{% include "includes/navbar.html" %}


<div class="container">   
    
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Specs is Coming Soon.</h1>

            </div>
    </div>
</div>

{% include "includes/footer.html" %}

</body>
</html>


<!--

SPECS

Dimensions

Hardware Compatibility:
GPU
MOTHERBOARD
RAM
PSU
COOLER
STORAGE


MATERIALS
PARTS LIST
RISER


-->














    \

-->